In [1]:
import numpy as np
import pandas as pd

In [5]:
X_train_df = pd.read_csv('train_trim_X.csv')

In [6]:
X_train_df.head()

,Unnamed: 0,ID,1,6,8,10,14,15,16,17,...,4988,4990,4991,4992,4994,4995,4996,4997,4999,5000
0,0,1,0,0,945,523,773,0,0,0,...,0,0,0,0,983,0,0,983,0,0
1,1,2,0,0,0,0,806,995,0,0,...,980,0,995,0,976,0,0,0,983,898
2,2,3,0,0,0,991,0,991,0,987,...,819,983,0,987,770,0,0,0,0,0
3,3,4,0,473,802,0,0,874,0,0,...,0,0,979,0,999,0,0,0,0,0
4,4,5,0,0,905,0,764,576,0,0,...,991,0,0,0,991,0,0,0,0,0

In [7]:
X_test_df = pd.read_csv('test_trim.csv')

In [8]:
X_test_df.head()

,Unnamed: 0,ID,1,6,8,10,14,15,16,17,...,4988,4990,4991,4992,4994,4995,4996,4997,4999,5000
0,0,1,688,0,952,870,0,999,0,0,...,976,635,0,0,0,0,0,494,769,0
1,1,2,778,0,708,991,0,991,0,0,...,925,0,0,0,770,0,0,0,0,0
2,2,3,469,0,0,0,0,972,898,0,...,652,0,0,0,467,0,0,0,0,0
3,3,4,0,571,983,983,851,0,650,0,...,0,0,0,0,0,0,0,0,0,0
4,4,5,0,0,949,991,533,0,0,0,...,972,0,0,0,0,0,0,0,976,0